.container{
    display: flex;
    justify-content: center;
    padding: 70px;
    border: 2px solid olive;
    width: auto;
    background-color:rgb(35, 109, 63);
    margin-top: auto;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
    height: 80%;

}
body{
    background-color: burlywood;
    height: 100%;
}
.item{
    color:white;
    width: auto;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    margin: auto;
}
a {
    text-decoration: none;
    color:black;

}
img{
    display: block ;
    width: auto;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
    padding: 60px;
}
* {
    margin:0;
    padding:0;
  }
.loon{
    color:white;
    width: auto;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    margin: auto;
}
.we{
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    color:black;
    width: auto;
    padding: 100px;
}
.links{
    color: blue;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    width: auto;
}
.video{
    padding: 200px;
    margin-right: auto;
    margin-left: auto;
    margin-top: auto;
    margin-bottom: auto;
}
.klam{
    font-size: 40px;
    color: black;
    width: auto;
    text-align: right;
    margin-right:auto ;
    margin-left: auto;
}
h1{
    font-weight: bold;
    font-size: 40px;
    color: black;
    width: auto;
    text-align: right;
    width: auto;
    margin-right: auto;
    margin-left: auto;
}